.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}
.card--white {
  background-color: $white;
}
.card__icon {
  margin-bottom: 2rem;
  font-size: 8rem;
  color: $gold;
}
.card__title {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}
.card__title--white {
  color: $white;
}
.card__title--big-gold {

}
.card__subtitle {
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
}
.card__text {
  margin-top: 0;
  font-size: 1.4rem;
  text-align: center;
  line-height: 1.5;
}
.card__text--grey{
  color: $grey-text;
}
.card__number {
  position: relative;
  margin-bottom: 1.8rem;
  font-size: 4rem;
  font-weight: bold;
  &:after {
    content: '-';
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 300;
    color: $grey-text;
  }
  &--gold {
    color: $gold;
  }
}
